* {
    background-color: #5B616A
}

article {
    border: solid black 3px;
    margin: 1%;
    padding: 2%;
    background-color: #CED3DC
}

#formArticle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    background-color: rgb(150, 153, 220)
}

input {
    background-color: antiquewhite
}

.list-contacts-article{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-contacts-article section {
    border: 2px solid blue;
    margin: 1%;
    padding: 2%;
}